# Deployment gives you reliability, scalability, and easier updates.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: nginx
  labels:
    app: nginx

spec:
  replicas: 2

  selector:
    matchLabels:
      app: nginx

  template:
    metadata:
      name: nginx-dep-pod
      labels:
        app: nginx

    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
          - containerPort: 80
          volumeMounts:
            - mountPath: /var/www/html
              name: my-volume
      
      volumes:
        - name:  my-volume
          persistentVolumeClaim:
            claimName: local-pvc


