# Deployment gives you reliability, scalability, and easier updates.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: nginx
  labels:
    app: nginx

spec:
  replicas: 2

  selector:
    matchLabels:
      app: nginx

  template:
    metadata:
      name: nginx-dep-pod
      labels:
        app: nginx

    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
          - containerPort: 80
          volumeMounts:
            - mountPath: /var/www/html
              name: my-volume
          # resources is for to set minimum and maximum cpu and memory usage to prevent pods from using too much resources
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 200m
              memory: 256Mi
                  
      volumes:
        - name:  my-volume
          persistentVolumeClaim:
            claimName: local-pvc


